In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
data = pd.read_excel("C:\\Users\\user\\ML\\chit fund exercise.xlsx")
data.head()

,Month,Contribution,Amount won by the bidder,Chit fund organizer commission,Net amount recd by Bid winner,Amount returned to everyone in the group
0,1,2000,40000,2500,37500,400
1,2,2000,42000,2500,39500,320
2,3,2000,45000,2500,42500,200
3,4,2000,48000,2500,45500,80
4,5,2000,40000,2500,37500,400

In [12]:
print("RowsXcolumns",data.shape)
print("No.of Observations",data.size)

RowsXcolumns (25, 6)
No.of Observations 150

In [13]:
data.describe()

,Month,Contribution,Amount won by the bidder,Chit fund organizer commission,Net amount recd by Bid winner,Amount returned to everyone in the group
count,25.000000,25.0,25.000000,25.0,25.000000,25.000000
mean,13.000000,2000.0,43800.000000,2500.0,41300.000000,248.000000
std,7.359801,0.0,2857.738033,0.0,2857.738033,114.309521
min,1.000000,2000.0,40000.000000,2500.0,37500.000000,0.000000
25%,7.000000,2000.0,42000.000000,2500.0,39500.000000,200.000000
50%,13.000000,2000.0,43000.000000,2500.0,40500.000000,280.000000
75%,19.000000,2000.0,45000.000000,2500.0,42500.000000,320.000000
max,25.000000,2000.0,50000.000000,2500.0,47500.000000,400.000000

<font color=green>Each month everyone contribute Rs 2000 each.
    Total amount contributed by each member = Sum of (Contribution of every month(2000) - Amount returned) for 25 months<font>

In [31]:
print("Total contibution in every month by members",data["Contribution"].sum())

Total contibution in every month by members 50000

<font color=blue>End of the month, the person who bids the lowest for the corpus, gets his bid.
    The group organizer gets paid a fixed commission of Rs 2500 each month (5% of 25*2000).
    It is deducted from the bid winner's corpus.  The remaining amount is distributed among all the 25 customers equally.<font>

In [26]:
print("Total Chit fund organizer commission after 25 months:", data["Chit fund organizer commission"].sum())

Total Chit fund organizer commission after 25 months: 62500

In [18]:
data["Actual Contribution"] = data["Contribution"] - data["Amount returned to everyone in the group"]
data.head()

,Month,Contribution,Amount won by the bidder,Chit fund organizer commission,Net amount recd by Bid winner,Amount returned to everyone in the group,Actual Contribution
0,1,2000,40000,2500,37500,400,1600
1,2,2000,42000,2500,39500,320,1680
2,3,2000,45000,2500,42500,200,1800
3,4,2000,48000,2500,45500,80,1920
4,5,2000,40000,2500,37500,400,1600

In [32]:
total = data["Actual Contribution"].sum()
total

43800

<font color=darkgreen>Profit Obtained by the bid winner is<font>
    
    
<font color=purple>Return = Net amount received by a member - total amount contributed by a member<font>

In [33]:
data["return"] = data["Net amount recd by Bid winner"] - total
data.head()

,Month,Contribution,Amount won by the bidder,Chit fund organizer commission,Net amount recd by Bid winner,Amount returned to everyone in the group,Actual Contribution,return
0,1,2000,40000,2500,37500,400,1600,-6300
1,2,2000,42000,2500,39500,320,1680,-4300
2,3,2000,45000,2500,42500,200,1800,-1300
3,4,2000,48000,2500,45500,80,1920,1700
4,5,2000,40000,2500,37500,400,1600,-6300

In [34]:
# Calculating percentage of return after every corpus
data["percentage of return"]=(data["return"]/total)*100
data.head()

,Month,Contribution,Amount won by the bidder,Chit fund organizer commission,Net amount recd by Bid winner,Amount returned to everyone in the group,Actual Contribution,return,percentage of return
0,1,2000,40000,2500,37500,400,1600,-6300,-14.383562
1,2,2000,42000,2500,39500,320,1680,-4300,-9.817352
2,3,2000,45000,2500,42500,200,1800,-1300,-2.968037
3,4,2000,48000,2500,45500,80,1920,1700,3.881279
4,5,2000,40000,2500,37500,400,1600,-6300,-14.383562

# Question1

<font>What is the Annualized  Return of the person who bids in the last month ?<font>

<font color=brown>Annualized return = ((1 + Absolute Rate of Return) ^ (365/no. of days)) – 1

OR

Annualized return = ((1 + Absolute Rate of Return) ^ (1/no. of years)) – 1

OR

Annualized return = ((1 + Absolute Rate of Return) ^ (12/no. of months)) – 1<font>

In [46]:
# Last person who bids in st month

data.iloc[24]

Month                                          25.000000
Contribution                                 2000.000000
Amount won by the bidder                    50000.000000
Chit fund organizer commission               2500.000000
Net amount recd by Bid winner               47500.000000
Amount returned to everyone in the group        0.000000
Actual Contribution                          2000.000000
return                                       3700.000000
percentage of return                            8.447489
Name: 24, dtype: float64

In [62]:
#Formula
q1=((((1 + (data["percentage of return"][24])/100)) ** (12/25)) - 1) * 100

In [82]:
print("Percentage of Annualized  Return of the person who bids in the last month ",(round(q1,4)))

Percentage of Annualized  Return of the person who bids in the last month  3.9694

# Question 2

What is the Annualized Return of the person who bids in the first month ?

In [50]:
# First person who bids in first month
data.iloc[0]

Month                                           1.000000
Contribution                                 2000.000000
Amount won by the bidder                    40000.000000
Chit fund organizer commission               2500.000000
Net amount recd by Bid winner               37500.000000
Amount returned to everyone in the group      400.000000
Actual Contribution                          1600.000000
return                                      -6300.000000
percentage of return                          -14.383562
Name: 0, dtype: float64

In [74]:
#formula
q2=((((1 + (data["percentage of return"][0])/100)) ** (12/25)) - 1) * 100

In [83]:
print("Percentage of Annualized  Return of the person who bids in the first month ",(round(q2,4)))

Percentage of Annualized  Return of the person who bids in the first month  -7.183

# Question 3

 Write an Python script which calculates the annualized return of chit fund participant ?- Show the Return % for each month's bid winner.

# annualized return of chit fund participant

In [108]:
#Formula
q=((((1 + (data["percentage of return"])/100)) ** (12/25)) - 1) * 100
print(q)

0    -7.183020
1    -4.838992
2    -1.435820
3     1.844574
4    -7.183020
5    -4.838992
6    -3.690121
7    -2.555908
8    -7.183020
9    -4.838992
10   -1.435820
11    1.844574
12   -7.183020
13   -4.838992
14   -3.690121
15   -3.690121
16   -6.003090
17   -4.838992
18   -1.435820
19   -1.435820
20   -2.555908
21   -0.329355
22    0.763961
23    1.844574
24    3.969357
Name: percentage of return, dtype: float64

# the Return % for each month's bid winner

In [101]:
data["percentage of return"]

0    -14.383562
1     -9.817352
2     -2.968037
3      3.881279
4    -14.383562
5     -9.817352
6     -7.534247
7     -5.251142
8    -14.383562
9     -9.817352
10    -2.968037
11     3.881279
12   -14.383562
13    -9.817352
14    -7.534247
15    -7.534247
16   -12.100457
17    -9.817352
18    -2.968037
19    -2.968037
20    -5.251142
21    -0.684932
22     1.598174
23     3.881279
24     8.447489
Name: percentage of return, dtype: float64